.body {
  background-image: url(../img/bg1.jpg);
  background-position: center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  width: 99%;

  font-family: "Varela Round", sans-serif;

  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
}
.btn-start {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  margin-top: -2vw;
  padding: 1vw;
  margin-left: 15vw;
}
.btn-start:hover {
  border: 2px solid rgb(255, 94, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(255, 94, 0);
  box-shadow: 0px 15px 20px rgba(255, 123, 0, 0.123);
  transform: translateY(-5px);
}

.f {
  font-size: 3vw;
  margin-top: 6vw;
  font-family: "Yellowtail", cursive;
  letter-spacing: 2.5px;
  padding-left: 5vw;
}
.t {
  font-family: "Varela Round", sans-serif;
  color: rgb(255, 94, 0);
  letter-spacing: 2.5px;
  font-size: 11vw;
  padding-left: 5vw;
}
.t1 {
  font-family: "Varela Round", sans-serif;
  color: rgba(233, 233, 233, 0.863);
  letter-spacing: 2.5px;
  font-size: 13vw;
  margin-top: -7vw;
  padding-left: 3vw;
}
.block {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-left: 4.5vw;
  margin-top: 3vw;
}
.bloc {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.123);
  width: 60vw;
  padding: 2vw;
  border-radius: 5px;
}
.btn-buy4 {
  background-color: rgb(255, 94, 0);
  color: white;
}
.btn-buy4:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: solid rgb(0, 0, 0);
}
@media only screen and (max-width: 900px) {
  .bloc {
    margin-top: 10vw;
  }
  .f {
    font-size: 9vw;
    margin-top: 6vw;
    font-family: "Yellowtail", cursive;
    letter-spacing: 2.5px;
    padding-left: 5vw;
  }
  .t {
    font-family: "Varela Round", sans-serif;
    color: rgb(255, 94, 0);
    letter-spacing: 2.5px;
    font-size: 19vw;
    padding-left: 5vw;
  }
  .t1 {
    font-family: "Varela Round", sans-serif;
    color: rgba(233, 233, 233, 0.863);
    letter-spacing: 2.5px;
    font-size: 32vw;
    margin-top: -10vw;
    padding-left: 5vw;
  }
  .btn-start {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    padding: 5vw;
    display: block;
    width: 90%;
    margin-left: 8vw;
  }
  .block {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: 32vw;
    padding: 1vw;
    margin-top: 2vw;
  }
  .body {
    background-position: center;
    /* Background image doesn't tile */

    width: 95%;

    font-family: "Varela Round", sans-serif;

    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
  }
  .bloc {
    width: 75vw;
  }
}
